.App {
    text-align: center;
    .Title {
        font-size: 3rem;
        padding: 48px;
    }
    .Search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &>* {
            margin: 8px;
        }
    }
}